.otp_page{
  height: 100dvh;
  background-color: #1b1a1a;
}

.otp_page header{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
  display: flex;
  height: 50px;
  align-items: center;
}

.otp-container {
  /* border: 2px solid blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
  padding: 1.8rem;
  border-radius: 23px;
  text-align: center;
  box-shadow: 0 0 5px rgba(11, 11, 11, 0.5);
  background: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
  gap: 10px;
}

.otp-inputs input {
  width: 3rem;
  height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.2s;
}

.otp-inputs input:focus {
  border-color: #007bff;
}

.otp-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.resend-btn {
  color: #667eea;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 4px;
  color: #667eea;
  cursor: pointer;
  padding: 0.6rem;
  padding-left: 0px;
  border: none;
  background-color: transparent;
} 
.resend-btn:hover{
  text-decoration: underline;
}

.verify-btn {
  width: 130px;
  background: black;
  color: #fff;
  padding: 0.6rem 1.5rem; 
  border: none;
  border-radius: 11px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  display: flex;
  justify-content: center;
}

.verify-btn:hover {
  background: #3d3d3d;
}

@media (max-width: 412px) {
  .otp-inputs {
    gap: 6px;
  }

  .otp-inputs input {
    width: 2.5rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .verify-btn {
    flex: 1;
    margin-left: 1rem;
  }

  .verify-btn:hover {
    background: black;
  }
}

.resend-btn:disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}
