.hidden-expire-field{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--blur-background);
    backdrop-filter: blur(2px);
}
.expire-box{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 600;
    position: absolute;
    max-width: 450px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    border: 1px solid var(--box-border);
    border-radius: 22px;
    background-color: var(--bg-box-color);
    box-shadow: 0px 0px 10px rgba(13, 13, 13, 0.134);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 13px 13px;
    gap: 20px;
}

.alert-message {
    font-size: 22px;
    /* border: 1px solid; */
    margin-bottom: -10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.expire-box p {
    width: 100%;
    font-size: 15px;
    opacity: 0.6;
    margin-left: 55px;
}

.expire-buttons{
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.expire-buttons button{
    width: 110px;
    height: 35px;
    border: none;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.expire-login{
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    cursor: pointer;
    color: var(--text-invert-color);
}
.expire-login:hover{
    font-size: 17px;
    cursor: pointer;
    color: var(--text-invert-color);
}

@media (max-width:412px) {
.expire-box{
    max-width: 350px;
    width: 100%;
}
.alert-message {
    font-size: 18px;
}
.expire-box p {
    width: 80%;
    font-size: 13px;
    opacity: 0.6;
    margin-left: -10px;
}
.expire-buttons button{
    width: 130px;
}
}