.progress-container {
  margin: 8px 0;
  width: 100%;
  height: 10px;
  background-color: var(--progress-track);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  width: 0;
  transition: width 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
