*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.changepass-page{
  position: relative;
  height: 100dvh;
  /* border: 2px solid red; */
  background-color: #1b1a1a;
}

.changepass-page header{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
  display: flex;
  height: 50px;
  align-items: center;
}

.changepass-container{
  /* border: 2px solid rgb(62, 0, 249); */
  width: 100%;
  max-width: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f9f9f9;
  border-radius: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 28px 28px;
  box-shadow: 0 0 5px rgba(11, 11, 11, 0.5);  
  overflow: hidden;
}

/* Form */
.changepass-form {
  /* border: 2px solid rgb(249, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all 0.3s ease-in; 
}

.changepass-form h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #333;
}

/*password info*/
.password-info{
  width: 100%;
  color: #2c2c2c;
}
.password-info p {
  font-weight: 500;
}
.password-info ul {
  list-style-position: inside;
}


/* Inputs */
.changepass-form label {
  display: block;
  margin: 10px auto 5px 0px;
  color: #555;
  font-weight: 500;
}

.changepass-form input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #aaaaaa;
  border-radius: 11px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.changepass-form input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

/* Buttons */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.confirm-btn {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-btn {
   background-color: #1b1a1a;
   color: white;
}

.confirm-btn:hover {
    background-color: #272626;
}

.confirm-btn {
  margin-right: 0;
}

/* Error messages */
.error {
  color: #e53e3e;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: 10px;
}

/* Password Toggle Icon */
.password-wrapper-first,
.password-wrapper-second {
  position: relative;
  width: 100%;
}

.password-wrapper-first input,
.password-wrapper-second input  {
  padding-right: 40px;

}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #777;
  display: flex;
  align-items: center;
}

/* Cross icon */
.Changepass-close-icon{
  margin-left: auto;
  /* margin-top: -10px; */
  font-size: 22px;
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 50%;
  border: none;
}

.Changepass-close-icon:hover {
  color: #333;
}

/* ---passChange-confirm--- */
.passChange-confirm{
  margin: 20px;
  color: #333;
}

@media (max-width: 412px) {
.changepass-container{
  width: 90%;
}
.changepass-form input {
  border: 1.5px solid #ccc;
}
}