*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.VF-page{
  position: relative;
  height: 100dvh;
  /* border: 2px solid red; */
  background-color: #1b1a1a;
}

.VF-page header{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
  display: flex;
  height: 50px;
  align-items: center;
}

.VF-container{
  /* border: 2px solid rgb(62, 0, 249); */
  width: 100%;
  max-width: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f9f9f9;
  border-radius: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 28px 28px;
  box-shadow: 0 0 5px rgba(11, 11, 11, 0.5);  
  overflow: hidden;
}

/* Form */
.VF-form {
  /* border: 2px solid rgb(249, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all 0.3s ease-in; 
}

.VF-form h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.VF-form label {
  display: block;
  margin: 10px auto 5px 0px;
  color: #555;
  font-weight: 500;
}

.VF-form input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #aaaaaa;
  border-radius: 11px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.VF-form input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

/* Buttons */
.VF-form-buttons {
  display: flex;
  justify-content:center;
  margin-top: 20px;
  width: 100%;
}

.VF-btn{
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.VF-btn {
  background-color: #1b1a1a;
  color: white;
}

.VF-btn:hover {
  background-color: #272626;
}

/* Error messages */
.error {
  color: #e53e3e;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: 10px;
}

/* Cross icon */
.VF-close-icon {
  margin-left: auto;
  font-size: 22px;
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 50%;
  border: none;
}

.VF-close-icon:hover {
  color: #333;
}

@media (max-width: 412px) {
.VF-container{
  width: 90%;
}
.VF-form input {
  border: 1.5px solid #ccc;
}
}
