.challengeQues-main-container{
  position: relative;
  height: 100vh;
  height: 100dvh;
}

.challengeQues-container {
  width: 100%;
  height: 100%;
  padding: 80px 40px;
  padding-top: 0;
  background-color: var(--bg-p-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  /* border: 1px solid; */
}
.challengeQues-container::-webkit-scrollbar{
  width: 8px;
}
.challengeQues-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
.challengeQues-container::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

.challengeQues-container header{
  font-size: 20px;
  font-weight: 600;
  margin-left: -20px;
  display: flex;
  height: 50px;
  align-items: center;
}

.challengeQues-progress {
  position: sticky;
  top: 0px;
  background-color: var(--bg-p-color);
  box-shadow: 0 0 8px var(--bg-p-color);
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  min-width: 160px;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 12px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challengeQues-score{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.challengeQues-top-message{
  display: flex;
  flex-direction: column;
  align-items:center ;
  gap: 7px;
  /* border: 1px solid white;   */
}

.challengeQues-next-cancle-div{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid white;   */
}

.challengeQues-cancle-btn{
  width: 100px;
  background-color: var(--cancle-color);
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 22px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}
.challengeQues-cancle-btn:hover {
  background-color: var(--cancle-hover);
}
.challengeQues-cancle-btn:active {
  background-color: var(--cancle-color);
}

.challengeQues-result{
  display: flex;
  gap: 15px;
  font-size: 17px;
}
.challengeQues-correctNo{
  color: rgb(35, 255, 23);
}
.challengeQues-wrongNo{
  color: rgb(255, 28, 20);
}

.challengeQues-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.challengeQues-grid {
  max-width: 1050px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  /* border: 1px solid white; */
  margin: 0 auto;
}

.challengeQues-question-card {
  background: var(--bg-box-color);
  border: 1px solid var(--box-border);
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}
.challengeQues-solo-question-card{
  max-width: 550px;
  margin: auto;
  margin-top: 100px;
  background: var(--bg-box-color);
  border: 1px solid var(--box-border);
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.challengeQues-questions-div{
  background: var(--bg-s-color);
  border-radius: 13px;
  font-weight: 600;
  font-size: 16px;
  user-select: none;
  padding: 17px 10px;
  /* padding-left: 10px; */
}

.challengeQues-options {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  /* border: 1px solid white; */
}

.challengeQues-option-label {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  margin-bottom: 5px;
}
/* Hide the default radio */
.challengeQues-option-label input[type="radio"] {
  display: none;
}

/* Custom circle */
.challengeQues-custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid var(--borderbold-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

/* Checked state (dot inside) */
.challengeQues-option-label input[type="radio"]:checked + .challengeQues-custom-radio::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #0088ff;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.challengeQues-optionName{
  width: 93%;
  word-wrap:break-word;
  white-space: normal;
}

.challengeQues-option-label:hover {
  background: var(--onhover-color);
}

.challengeQues-option-label input {
  margin-right: 10px;
}
.challengeQues-option-label.correct {
  border: 1px solid rgb(0, 190, 0);
  background: #47f9473f;
}

.challengeQues-option-label.wrong {
  border: 1px solid rgba(255, 0, 0, 0.442);
  background: #ff000024;
}

.challengeQues-explaination{
  border: 1px solid var(--borderbold-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 13px;
}
.challengeQues-explaination h3{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}


/*-------------------------------*/
.challengeQues-loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.challengeQues-code-block {
  margin: 5px 0;
  background: var(--onactive-color);
  padding: 12px;
  border-radius: 8px;
  font-family: monospace;
  font-size: 0.9em;
  white-space: pre-wrap;  
  word-break: break-word; 
}

.challengeQues-solo-infobar{
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 10px 5px;
}

.challengeQues-next-div{
  text-align: right;
}
/* Solo Mode Next / Submit Button */
.challengeQues-next-btn {
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 11px;
  border: none;
  background: var(--bg-s-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.25s ease;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); */
}

/* Active Click */
.challengeQues-next-btn:active:not(:disabled) {
  transform: scale(0.97);
}

/* Disabled */
.challengeQues-next-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}


@media (max-width: 412px) {
.challengeQues-container::-webkit-scrollbar{
  width: 0;
}
.challengeQues-container header{
  font-size: 20px;
  font-weight: 600;
  margin-left: 0px;
  position: sticky;
  top: 0;
  background-color: var(--bg-p-color);
  z-index: 3;
}
.challengeQues-progress{
  position: sticky;
  top: 50px;
}
.challengeQues-container {
  padding: 80px 15px;
  padding-top: 0;
}
.challengeQues-grid {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.challengeQues-next-cancle-div p{
  width: 150px;
}
}
