*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-page{
  position: relative;
  height: 100dvh;
  /* border: 2px solid red; */
  background-color: #1b1a1a;
}

.signup-page header{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
  display: flex;
  height: 50px;
  align-items: center;
}

.signup-container{
  /* border: 2px solid rgb(62, 0, 249); */
  width: 100%;
  max-width: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f9f9f9;
  border-radius: 23px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 20px;
  box-shadow: 0 0 5px rgba(11, 11, 11, 0.5); 
  display: flex;  
}

/* Form */
.signup-form {
  /* border: 2px solid rgb(249, 0, 0); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
  overflow: hidden;
}

.h2-div{
  overflow: hidden;
  /* border: 2px solid black; */
  margin-bottom: 10px;
 
}
.signup-form h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #333;
}

/* Inputs */
.signup-form label {
  display: block;
  margin: 10px auto 5px 0px;
  color: #555;
  font-weight: 500;
  z-index: -1;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #aaaaaa;
  border-radius: 11px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.signup-form input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

/* Buttons */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.signup-btn,
.cancel-btn {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  margin-right: 10px;
}

.signup-btn {
  background-color: #1b1a1a;
  color: white;
}

.signup-btn:hover {
  background-color: #1b1a1ad6;
}

.cancel-btn {
 background-color: #cdcdcd;
  color: #333;
}

.cancel-btn:hover {
  background-color: #b1b1b1;
}

.form-buttons button:last-child {
  margin-right: 0;
}

/* Login note */
.login-note {
  text-align: center;
  margin-top: 10px;
  color: #555;
}

.login-link {
  color: #667eea;
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}

/* Error messages */
.error {
  color: #e53e3e;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: 10px;
}

/* Password Toggle Icon */
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #777;
  display: flex;
  align-items: center;
}

/* Cross icon */
.signup-close-icon {
  margin-left: auto;
  /* margin-top: -10px; */
  font-size: 22px;
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 50%;
  border: none;
}

.signup-close-icon:hover {
  color: #333;
}

.signup-or{
  margin: 10px 0;
  position: relative;
  width: 90%;
  border-bottom: 1px solid #3333336d;
}
.signup-or span{
  color: #555;
  width: 30px;
  position: absolute;
  text-align: center;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
}
.signup-google-button{
  background-color: white;
  margin-top: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.626);
  border-radius: 11px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.signup-google-button:hover{
  background-color: rgb(241, 241, 241);
}
.signup-google-button:active{
  background-color: white;
}
.signup-google-icon{
  width: 25px;
  height: 25px;
}
.signup-google-button span{
  font-size: 14px;
}

@media (max-width: 412px) {
.signup-container{
  width: 90%;
}
.signup-form input {
  border: 1.5px solid #ccc;
}
}
