*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.main-container{
    height: 100dvh;
    /* border: 2px solid red; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 10px;
}
.main-container header{
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  /* border: 1px solid white; */
}
.nav-links{
    border: 1px solid rgba(159, 159, 159, 0.449);
    margin-top: 20px;
    width: max-content;
    padding: 2px;
    display: flex;
    gap: 5px;
    border-radius: 99px;
    background-color: rgba(159, 159, 159, 0.341);
}
.link{
    /* border: 1px solid white; */
    padding: 7px 15px;
    border-radius: 99px;
    text-decoration: none;
    color: currentColor;
}
.selected{
    background-color:black ;
}

.copyright{
    margin-top: auto;
    font-size: 11px;
    opacity: 0.6;
}

/* Responsive */
@media (max-width: 412px) {
.main-container header{
  padding: 5px 0px;
}
.nav-links{
    margin-top: 10px;
}
.link{
    font-size: 12px;
    padding: 6px 12px;
}

}