.practiceQues-main-container{
  position: relative;
  height: 100vh;
  height: 100dvh;
}

.practiceQues-container {
  width: 100%;
  height: 100%;
  padding: 80px 40px;
  padding-top: 0;
  background-color: var(--bg-p-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  /* border: 1px solid; */
}
.practiceQues-container::-webkit-scrollbar{
  width: 8px;
}
.practiceQues-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
.practiceQues-container::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

.practiceQues-container header{
  font-size: 20px;
  font-weight: 600;
  margin-left: -20px;
  display: flex;
  height: 50px;
  align-items: center;
}

.practiceQues-progress {
  position: sticky;
  top: 0px;
  background-color: var(--bg-p-color);
  box-shadow: 0 0 8px var(--bg-p-color);
  font-size: 16px;
  font-weight: 600;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 12px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
}

.practiceQues-top-message{
  display: flex;
  flex-direction: column;
  align-items:center ;
  gap: 7px;
  /* border: 1px solid white;   */
}

.practiceQues-next-cancle-div{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid white;   */
}

.practiceQues-cancle-btn{
  width: 100px;
  background-color: var(--cancle-color);
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 22px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}
.practiceQues-cancle-btn:hover {
  background-color: var(--cancle-hover);
}
.practiceQues-cancle-btn:active {
  background-color: var(--cancle-color);
}

.practiceQues-next-btn{
  width: 100px;
  background-color: #7c3aed;
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 22px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}
.practiceQues-next-btn:hover {
  background-color: #6c31d0;
}
.practiceQues-next-btn:active {
  background-color: #7c3aed;
}

.practiceQues-result{
  display: flex;
  gap: 15px;
  font-size: 17px;
}
.practiceQues-correctNo{
  color: rgb(35, 255, 23);
}
.practiceQues-wrongNo{
  color: rgb(255, 28, 20);
}

.practiceQues-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.practiceQues-grid {
  max-width: 1050px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  /* border: 1px solid white; */
  margin: 0 auto;
}

.practiceQues-question-card {
  background: var(--bg-box-color);
  border: 1px solid var(--box-border);
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.practiceQues-questions-div{
  background: var(--bg-s-color);
  border-radius: 13px;
  font-weight: 600;
  font-size: 16px;
  user-select: none;
  padding: 17px 10px;
  /* padding-left: 10px; */
}

.practiceQues-options {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  /* border: 1px solid white; */
}

.practiceQues-option-label {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  margin-bottom: 5px;
}
/* Hide the default radio */
.practiceQues-option-label input[type="checkbox"] {
  display: none;
}

/* Custom circle */
.practiceQues-custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid var(--borderbold-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

/* Checked state (dot inside) */
.practiceQues-option-label input[type="checkbox"]:checked + .practiceQues-custom-radio::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #0088ff;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.practiceQues-optionName{
  width: 93%;
  word-wrap:break-word;
  white-space: normal;
}

.practiceQues-option-label:hover {
  background: var(--onhover-color);
}

.practiceQues-option-label input {
  margin-right: 10px;
}
.practiceQues-option-label.correct {
  border: 1px solid rgb(0, 190, 0);
  background: #47f9473f;
}

.practiceQues-option-label.wrong {
  border: 1px solid rgba(255, 0, 0, 0.442);
  background: #ff000024;
}

.practiceQues-explaination{
  border: 1px solid var(--borderbold-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 13px;
}
.practiceQues-explaination h3{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}


/*-------------------------------*/
.practiceQues-submit-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 auto;
  margin-top: 40px;
  /* border: 1px solid white; */
  width: max-content;
}

.practiceQues-submit-btn {
  background-color: var(--p-submit-color);
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 22px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  transition: background 0.20s;
}
.practiceQues-submit-btn span{
  display: flex;
  align-items: center;
  gap: 6px;
}

.practiceQues-submit-btn:hover {
  background-color: var(--p-submit-hover);
}
.practiceQues-submit-btn:active {
  background-color: var(--p-submit-color);
}

.practiceQues-loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.practiceQues-code-block {
  margin: 5px 0;
  background: var(--onactive-color);
  padding: 12px;
  border-radius: 8px;
  font-family: monospace;
  font-size: 0.9em;
  white-space: pre-wrap;  
  word-break: break-word; 
}

@media (max-width: 412px) {
.practiceQues-container::-webkit-scrollbar{
  width: 0;
}
.practiceQues-container header{
  font-size: 20px;
  font-weight: 600;
  margin-left: 0px;
  position: sticky;
  top: 0;
  background-color: var(--bg-p-color);
  z-index: 3;
}
.practiceQues-progress{
  position: sticky;
  top: 50px;
}
.practiceQues-container {
  padding: 80px 15px;
  padding-top: 0;
}
.practiceQues-grid {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.practiceQues-next-cancle-div p{
  width: 150px;
}
}

/*----------Leave Popup------------*/
.practiceQues-leave-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--blur-background);
  backdrop-filter: blur(2px);
}

.practiceQues-leavebox {
  position: absolute;
  max-width: 400px;
  width: 100%;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--box-border);
  border-radius: 23px;
  background-color: var(--bg-box-color);
  box-shadow: 0px 0px 10px rgba(13, 13, 13, 0.134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 30px;
}

.practiceQues-leave-message {
  width: 300px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  margin-bottom: -10px;
  /* border: 1px solid; */
}

.practiceQues-leave-message p {
  width: max-content;
  margin: 0 auto;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

.practiceQues-leave-message div {
  color: var(--text-color);
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
  /* border: 1px solid; */

}

.practiceQues-leave-buttons {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.practiceQues-leave-buttons button {
  height: 45px;
  border: none;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.practiceQues-leave-confirm {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: var(--text-invert-color);
}

.practiceQues-leave-cancle {
  background-color: transparent;
  outline: 1px solid var(--borderbold-color);
  color: var(--text-color);
}

.practiceQues-leave-confirm:hover {
  font-size: 15px;
  cursor: pointer;
  color: var(--text-invert-color);
}

.practiceQues-leave-cancle:hover {
  background-color: rgba(70, 70, 70, 0.418);
  outline: 1px solid var(--borderbold-color);
  color: var(--text-color);
  cursor: pointer;
}

.practiceQues-leave-cancle:active {
  background-color: transparent;
  outline: 1px solid var(--borderbold-color);
  color: var(--text-color);
}

.practiceQues-spinner-div{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

@media (max-width: 412px) {
.practiceQues-leave-field {
  z-index: 3;
}

.practiceQues-leavebox {
  max-width: 350px;
  padding: 0 20px;
}
}
