.mainHeader{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: var(--bg-p-color);
    user-select: none;
    /* border-bottom: 1px solid var(--border-color); */
    position: sticky;
    top: 0;
    color: var(--text-color);
}

.Header-about-icon{
   height: 30px;
   width: 30px;
   transform: rotate(180deg);
   margin-left: auto;
   margin-right: 15px;
   /* border: 1px solid white; */
   padding: 3px;
   border-radius: 10px;
}
.Header-about-icon:hover{
 background-color: var(--onhover2-color);
 cursor: pointer;
}
.Header-about-icon:active{
border: 1px solid var(--text-color);
}

.menu-icon{
    display: none;
}

header h2{
    margin-left: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}
.header-btns{
    margin-left: auto;
}
.header-login-btn,
.header-signup-btn{
    width: 110px;
    height: 35px;
    margin-right: 5px;
    border-radius: 18px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-login-btn{
    background-color: #efefef;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.715);
}
.header-signup-btn{
    color: white;
    background-color: #0e0e0e;
    box-shadow: 0 0 2px rgba(244, 244, 244, 0.885);    
}

.header-login-btn:hover{
    background-color: #efefefd1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.715);
}
.header-signup-btn:hover{
    box-shadow: 0 0 4px rgba(244, 244, 244, 0.885); 
    background-color: #0e0e0ee4;   
}

.header-login-btn:active{
  background-color: #efefef;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.715);
}
.header-signup-btn:active{
    box-shadow: 0 0 2px rgba(244, 244, 244, 0.885);
    background-color: #0e0e0e;
}

@media (max-width: 768px) {
.menu-icon{
    display: block;
    height: auto;
    padding: 3px;
    width: 20px;
    margin-left: 13px;
    border-radius: 5px;
    color: var(--text-color);
    scale: 1.7;
}
.menu-icon:hover{
    background-color: var(--onhover-color);
}
.menu-icon:active{
    border: 1px solid var(--text-color);
}
.header-login-btn,
.header-signup-btn{
    width: 100px;
}
.Header-about-icon{
   margin-right: 10px;
}
.Header-about-icon:hover{
 background-color: transparent;
}
.Header-about-icon:active{
 background-color: var(--onhover2-color);
 border: 1px solid var(--text-color);
}

}